#set($layout = "web/layout.vm")
<script language="JavaScript" type="text/JavaScript">
    function checkForm(){
        var loginName = document.getElementById("loginName").value;
        if(loginName == null || loginName == ""){
            alert("登录名不能为空！");
            return false;
        }
        var passWord = document.getElementById("passWord").value;
        if(passWord == null || passWord == ""){
            alert("密码不能为空！");
            return false;
        }
    }
</script>

<form action="../employer/saveEmployer.shtml" name="form" id="form" method="post" onsubmit="return checkForm();">
    <table align="center">
        <tr>
            <td>用户名： </td>
            <td>
                <input type="text" id="loginName" name="employer.loginName" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>密码： </td>
            <td>
                <input type="password" id="passWord" name="employer.passWord" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>联系电话： </td>
            <td>
                <input type="text" name="employer.tel" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>联系人： </td>
            <td>
                <input type="text" name="employer.linkMan" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" onClick="return window.history.go(-1);" value="返回"/>
                <input type="submit" value="保存"/>
                <input type="reset" value="重置"/>
            </td>
        </tr>
    </table>
</form>